/* CSS Document */

.page{
    width:800px; /*dï¿½finit la largeur du div ï¿½ 800 pixels*/
    margin:auto /* marges automatiques pour centrer sur la page*/
}

.zone1 {
    width:100%; /*dï¿½finit la largeur du div ï¿½ 800 pixels*/
    height: 250px; /*dï¿½finit la hauteur du div ï¿½ 120 pixels*/
    background-color:#333333; /*couleur de fond Gris foncÃ©*/
}

.photo{
    float: left; /*place le div ï¿½ gauche*/
    padding:10px /*marges intï¿½rieures au div de 10 pixels*/
}

.texte{
    padding:20px;
    text-align:center;
    color:#CCCCCC;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.div_sub_text{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: -1.5em;
}


.sub_text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2em;

    font-size: 17px;
    color: white;
}


.partie{
    width: 100%;
    height: auto;
    margin-bottom: 1em;

    display: flex;
}
.zone2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    height: auto;
    width: 60%;

    background-color:#CCCCCC;
    text-align:left;
    color:#333333;
}

.zone2 h1{
    font-size: 25px;
}

.zone3 {

    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-items: center;
    text-align: center;

    width: 40%;
    height: auto;

    background-color:#AAAAAA;
    color:#000000
}


.zone4 {
    float:left; /*place le div ï¿½ gauche de la page*/
    width:800px; /*dï¿½finit la largeur du div ï¿½ 800 pixels*/
    background-color:#333333;
    text-align:center;
    color:#CCCCCC;
}

.menu{

}

.menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu li{
    margin-left: 2px;
    float: left;
}

.menu ul li a{
    display: block;
    float: left;
    width: 100px;
    background-color: #6495ED;
    color: black;
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    border: 2px solid;
    text-decoration: none;
    border-color: #DCDCDC #696969 #DCDCDC #696969;
}

.menu ul li a:hover{
    background-color: #D3D3D3;
    border-color: #DCDCDC #696969;
}

table{
    width: 100%;
}

tr th{
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

table hr{
    width: 30px;
}